.moviedetails ul {
    background-color: #343434;
    border-radius: 25px;
    width: 90%;
    padding: 0 0 50px 0;
    margin: 0 auto;
    margin-bottom: 50px;
    list-style: none;
    min-height: 370px;
    color: white;
}

.moviedetails p {
    text-align: left;
    padding: 2px;
    margin: 2px;
}
.leftSide {
    padding-top: 20px;
    float: left;
    width: 30%;
}

.rightSide{
    float: left;
    width: 60%;
    padding-top: 20px;
    min-height: 370px;
}

/* .moviedetails p{
    display: inline;
} */

.moviedetails h1, h2 {
    padding-top: 20px;
    
}

.moviedetails img {
    height: 300px;
}

.moviedetails span {
    padding-right: 10px;
    text-decoration: underline;

}

.moviedetails div:last-child {
    align-self: left;
    margin-top: 20px;
}


.moviedetails button {
    border: none;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-size: 14px;
    border-radius: 25px;
    outline: none;
    margin: 2px 5px;
    font-weight: bold;
}

.moviedetails li {
    padding-top: 20px;
    

}

.towatch {
    background-color: #5271ff;
    color: white;
    width: 150px;
}

.watched {
    background-color: #34b6a6;
    color: white;
    width: 150px;
}

.editDetails {
    background-color: rgb(250, 228, 107);
    color: #343434;
    width: 150px;

}

.remove {
    background-color: #df2935;
    color: white;
    width: 150px;
}