.profile {
    padding-top: 170px;

}

.profile h1 {
    display: inline;
    margin-left: 10%;
    margin-right: 10%;    
}

.profile div {
    height: 300px;
    width: 400px;
    background-color: #343434;
    border-radius: 15px;
    list-style: none;
    text-align: center;
    display: inline-block;
    position: relative;
    margin: 10px 55px 0 55px;
}

.profile img {
    height: 200px;
    padding-top: 50px;
}
