.profile {
    background-color: #f9f8f9;
    width: 80%;
    margin: 0 auto;
    padding-top: 25vh;
    height: 100%;
    padding-bottom: 30%;
    text-align: center;
}

.profile h1 {
    display: inline;
    color:#343434;
    margin-left: 10%;
    margin-right: 10%;    
}

.profile div {
    height: 300px;
    width: 400px;
    background-color: #343434;
    border-radius: 15px;
    list-style: none;
    text-align: center;
    display: inline-block;
    position: relative;
    margin: 10px 55px 0 55px;
}

.profile img {
    height: 200px;
    padding-top: 50px;
}
