.footer {
    width: 100%;
    background-color: #343434;
    height: 10vh;
    color: white;
    bottom: 0;
    display: flex;
  }
  
  .footer p {
    display: inline;
    text-align: center;
    margin: 3vh;
  }