.movies li {
    list-style: none;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 30px 10px 30px;
    width: 200px;
}

.movies ul {
    background-color: #343434;
    border-radius: 25px;
    width: 90%;
    padding: 0 0 50px 0;
    margin: 0 auto;
    margin-bottom: 50px;
    list-style: none;
}

.movies img {
    height: 300px;
}

.movies button {
    background-color: #df2935;
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    font-size: 14px;
    border-radius: 25px;
    outline: none;
    width: 60px;
    margin: 5px 10px;

}

.addNewButton {
    background-color: #df2935;
    border: none;
    color: white;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 25px;
    width: 200px;
    outline: none;
}

.movies h1 {
    margin: 5px;
}

.movies div {
    height: 100%;
}