.addnew div {

}

.leftSide{
    float: left;
    margin-left: 50px;
    width: 50%;
}

.rightSide {
    float: left;
    margin-left: 50px;
}

.addnew input {
    width: 300px;
}

.center {
    clear: both;
    display: block;
    padding-top: 30px;
}