.logout {
    background-color: #f9f8f9;
    width: 80%;
    margin: 0 auto;
    padding-top: 25vh;
    height: 100%;
    padding-bottom: 20%;
    text-align: center;
}

.logout img {
    height: 300px;
}

.logout h1 {
    color: #343434;
    padding: 0;
    margin: 0;
    font-size: 45px;
}