.Footer {
    width: 100%;
    background-color: #343434;
    height: 10vh;
    bottom: 0;
    position: fixed;
    color: white;
}

.Footer p {
    position: flex;
    text-align: center;
    margin: 3vh;
}
