.loader {
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: absolute;
  top: 54.5px;
  display: flex;
  height: 40px;
  width: 80%;
}

.loaderValue {
  animation: load 1s normal forwards infinite;
  background: #df2935;
  height: 5px;
  width: 0;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 100%; }
}